body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100%;
    height: 70px;    
    margin-left: auto;
    margin-right: auto;
    background-color: #1F8A70;
    /*text-align: end;*/
}

.navegacion{
    height: 40px;
    padding: 15px;
}

.navegacion ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navegacion ul li{
    display: inline;
    margin: 0;
    font-weight: bold;
}

.navegacion ul li a{
    color: #181823;
    padding: 10px;
    text-decoration: none;
    /*border: 1px outset; */  
}
.navegacion ul li a:hover{
    font-size: 22px;
}
/*.navegacion ul li a:{
    border: 1px outset #fff;
}*/


.img_titulo{
    margin-left: auto;
    margin-right: auto;
    background-image: url(../multimedia/titulo.jpg);
    height: 450px;
    width: 100%;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cont_sombra{
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    padding: 20px;
    width: 80%;
    color: #fff;
    margin: 0px auto;
 
}

.titulo_1{
    font-size: 36px;
    font-family: serif;
}

.contenido_2{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 450px;
    margin-top: 50px;
}
.columna_2_1{
    background-image: url(../multimedia/qsomos.jpg);
    background-size: cover;
    width: 40%;
    height: 350px;
    float: left;
    
}
.columna_2_2{
    font-size: 10px;
    margin-right: 50px;
    width: 50%;
    height: 350px;
    display: grid;
    align-items: center;
    background-color: #00425A;
    color: #EFF5F5;
}
.titulo_2{
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
}

.texto_contenido_2{
    font-size: 20px;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    margin: auto;
    padding: 10%; 
}

.contenido_3{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    background-color: #EFF5F5;
}

.titulo_E{
    font-size: 28px;
    font-family: sans-serif;
    text-align: center;
    padding: 15px;
}

.texto_contenido_3{
    font-size: 30px;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    padding: 10%;    
}

.columna_3_1{
    background-image: url(../multimedia/elejirnos.jpg);
    background-size: cover;
    width: 40%;
    height: 350px;
    float: right; 
    margin-right: 50px;
    
}
.columna_3_2{
    font-size: 10px;
    margin-right: 50px;
    width: 50%;
    height: 350px;
    float: left;
    text-align: justify;
}

.columna_4{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background-color: #00425A;
}

.titulo_U{
    font-size: 28px;
    font-family: sans-serif;
    text-align: left;
    padding: 15px;
    color: #EFF5F5;
    margin-left: 20px;
}

.columna_4_1{
    font-size: 10px;
    margin-right: 50px;
    width: 40%;
    height: 250px;
    float: right;
    text-align: justify;
    
}
.columna_4_2{
    font-size: 10px;
    margin-right: 50px;
    width: 90%;
    height: 250px;
    float: left;
    text-align: justify;
    display: flex;
    align-items: center;
}

.seg_img{
    width: 100%;
    float: left;
    padding: 15px;
}

.texto_contenido_U{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center; 
    color: #EFF5F5;
    padding: 5%;
}

.animation_1{
    opacity: 0;
    animation: keyframe_aparece 5s;
    -webkit-animation: keyframe_aparece 5s; 
    animation-fill-mode: forwards;
}

.imagenes{
    width: 1124px;
    height: 600px;
    margin: auto;
}

.art_img{
    width: 250px;
    float: left;
    padding: 15px;
}

.titulo_3{
    width: 100%;
    color: rgb(14, 12, 12);
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 36px;
}
.cont_imagenes{
    display: flex;  
}

footer{
    width: 100%;
    height: 200px;
    background-color: #181823;
    margin-top: 10px;
    margin-bottom: 25px;
}

.datos{
    width: 25%;
    float: left;
}

.datos ul{
    list-style-type: none;
}

.datos ul li{
    margin-top: 15px;
}

.datos ul li a{
    padding: 20px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.datos li a{
    text-decoration: none;
}

.titulo_redes{
    color: #fff;
}

.redes{
    width: 25%;
    float: left;
}

.redes ul{
    list-style-type: none;
}

.redes ul li{
    display: inline;
}

.redes ul li a{
    padding: 10px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.contacto{
    width: 50%;
}

.titulo_contacto{
    float: left;
    color: #fff;
    margin-left: 100px;
}
.titulo_contacto ul li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    padding: 5px;
}
/*.espacio{
    margin-top: 50px;
}*/

/* RESPONSIVE */
@media all and (min-width: 600x) and (max-width:1154px){

    header{
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .columna_3_2{
        height: 250px;
    }
    .texto_contenido_3 {
        font-size: 12px;
    }

}